---
import { Image } from "astro:assets";
import Navbar from "../components/Navbar.astro";
import Head from "../components/Head.astro";
import Cross from "../components/icons/Cross.astro";
import Users from "../components/icons/Users.astro";
import ShiningStar from "../components/icons/Shining-Star.astro";
import Resume from "../components/icons/Resume.astro";
import nibbleNibblersPic from "../assets/nibble-nibblers.jpg";
import programmingTeamPic from "../assets/programming-team-2022.jpg";
import cuneLogo from "../assets/cune-logo.png";
import astroLogo from "../assets/astro-logo.svg";
import pythonLogo from "../assets/python-logo.svg";
import githubLogo from "../assets/github-logo.svg";
import icpcLogo from "../assets/icpc-logo.png";
---

<!DOCTYPE html>
<html lang="en">
  <Head title="Concordia Programming Team">
    <meta
      name="description"
      content="The Home Website for the Concordia University, Nebraska Competitive Programming and Software Development Team"
    />
  </Head>
  <body
    class="bg-primary text-light w-screen h-screen overflow-x-hidden overflow-y-scroll flex flex-col"
  >
    <Navbar />
    <section class="flex flex-col mx-auto text-center" id="Title Section">
      <Image
        class="w-full"
        src={cuneLogo}
        width={cuneLogo.width}
        height={cuneLogo.height}
        alt=""
        loading="eager"
        decoding="sync"
      />
      <h1 class="text-3xl lg:text-6xl font-sans font-bold tracking-wide">
        Concordia Programming Team
      </h1>
      <p class="italic text-gray-400 text-xl lg:text-3xl mt-2 font-sans">
        Competitive Programming and Software Development
      </p>
    </section>
    <section
      class="stroke-primary fill-primary mx-auto mt-24 text-center bg-light text-primary py-12"
    >
      <ul class="flex flex-col lg:flex-row gap-12 xl:gap-52 mx-10">
        <li class="flex flex-col items-center">
          <Cross />
          <h2 class="font-semibold tracking-wide text-2xl">Christ Centered</h2>
          <p>
            Concordia University, Nebraska is one of the few LCMS Universities
            in the country. Come grow in both your programming ability, and in
            your faith.
          </p>
        </li>
        <li class="flex flex-col items-center">
          <Users />
          <h2 class="font-semibold tracking-wide text-2xl">Team-Based</h2>
          <p>
            We recognize that programming is more than an individual. Grow in
            your soft skills as a member of the Concordia Programming Team.
          </p>
        </li>
        <li class="flex flex-col items-center">
          <Resume />
          <h2 class="font-semibold tracking-wide text-2xl">
            Power Up your Resume
          </h2>
          <p>
            Work on real-world projects using industry-standard tools and
            languages. Each of which can empower your resume for your future
            career!
          </p>
        </li>
        <li class="flex flex-col items-center">
          <ShiningStar />
          <h2 class="font-semibold tracking-wide text-2xl">Be Known</h2>
          <p>
            At CUNE you aren't just another face, you are a loved and valued
            member of our communitee. As a member of CPT, you are someone who
            your coaches will know and work to make sure you succeed!
          </p>
        </li>
      </ul>
    </section>
    <section
      class="flex flex-col gap-10 lg:flex-row lg:px-10 xl:px-52 py-12 bg-dark px-10"
    >
      <Image
        class="lg:w-[50%] rounded-lg px-4 lg:mx-auto object-contain"
        src={nibbleNibblersPic}
        width={nibbleNibblersPic.width}
        height={nibbleNibblersPic.height}
        alt="The Nibble Nibblers Team"
      />
      <div class="mx-auto text-center">
        <h2 class="text-center text-2xl lg:text-4xl font-sans">
          Software Development
        </h2>
        <p class="text-xl mt-12">
          We use a variety of industry-standard languages and tools to build
          real-world projects. To learn more check out
          <a
            class="underline underline-offset-2 decoration-light hover:decoration-primary focus:text-primary transition-all"
            href="/software-development"
          >
            Software Development
          </a>.
        </p>
        <div class="grid grid-cols-3 mx-4 gap-10 mt-12 lg:mt-24">
          <Image
            class=""
            src={pythonLogo}
            height={pythonLogo.height}
            width={pythonLogo.width}
            alt="python"
          />
          <Image
            class=""
            src={githubLogo}
            height={githubLogo.height}
            width={githubLogo.width}
            alt="github"
          />
          <Image
            class=""
            src={astroLogo}
            height={astroLogo.height}
            width={astroLogo.width}
            alt="astro"
          />
        </div>
      </div>
    </section>
    <section
      class="flex flex-col gap-10 lg:flex-row-reverse lg:px-10 xl:px-52 py-12 px-10"
    >
      <Image
        class="lg:w-[50%] rounded-lg mx-auto object-cover px-4"
        src={programmingTeamPic}
        width={programmingTeamPic.width}
        height={programmingTeamPic.height}
        alt="Programming Team Picture"
      />
      <div class="mx-auto text-center">
        <h2 class="text-center text-2xl lg:text-4xl font-sans">
          Competitive Programming
        </h2>
        <p class="text-xl mt-12">
          Learn and compete in nation-wide programming competitions using Python
          and C. CPT primarily competes in <a
            class="underline underline-offset-2 decoration-light hover:decoration-dark focus:text-dark transition-all"
            href="https://icpc.global/">ICPC</a
          >. To learn more check out <a
            class="underline underline-offset-2 decoration-light hover:decoration-dark focus:text-dark transition-all"
            href="/competitive-programming">Competitive Programming</a
          >.
        </p>
        <Image
          class="w-[75%] mx-auto pt-12 rounded-lg object-cover"
          src={icpcLogo}
          width={icpcLogo.width}
          height={icpcLogo.height}
          alt="icpc"
        />
      </div>
    </section>
  </body>
</html>
