---
import Navbar from "../components/Navbar.astro";
import MEMBER_TYTUS_WOODBURN from "../assets/roster/tytus-woodburn.jpeg";
import COACH_IAN_KOLLIPARA from "../assets/roster/co-ian-kollipara.jpg";
import COACH_MARCUS_GUBANYI from "../assets/roster/co-marcus-gubanyi.jpg";
import ISAAC_DAWSON from "../assets/roster/isaac-dawson.jpg";
import ANDREW_BRANDT from "../assets/roster/andrew.jpg";
import JACOB_WOODMANCY from "../assets/roster/jacob-woodmancy.png";
import CADEN_KORELL from "../assets/roster/caden-korell.jpg";
import RosterAbstract from "../components/RosterAbstract.astro";
import ETHAN_LHEUREUX_ROSTER_IMG from "../assets/roster/mem-ethan-lheureux.jpeg";
import ALYSSA_BUTLER from "../assets/roster/alyssa-butler.jpg";
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Concordia Programming Team - Roster"
  description="The Concordia Competitive Programming and Software Development Team's Roster"
>
  <Navbar />

  <div>
    <div class="py-16 md:py-24 lg:py-32 mx-auto w-full max-w-7xl px-5 md:px-10">
      <div class="">
        <div class="text-center">
          <h2 class="font-bold text-3xl md:text-5xl">Our Team</h2>
          <div class="mx-auto mt-4 max-w-[528px] mb-8 md:mb-12 lg:mb-16">
            <p class="text-[#636262]">Meet our members, coaches, and alumni!</p>
          </div>
        </div>
        <div
          class="grid w-full max-[991px]:grid-flow-row max-[991px]:place-content-center max-[479px]:justify-items-center grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-5 md:gap-6"
        >
          <RosterAbstract
            img={JACOB_WOODMANCY}
            name="Jacob Woodmancy"
            from="Grant, Nebraska"
            role="Senior"
            program="Computer Science and Mathematics"
            projects={[["Team Website", "/"]]}
          />
          <RosterAbstract
            img={ETHAN_LHEUREUX_ROSTER_IMG}
            name="Ethan L'Heureux"
            from="Cedar Falls, Iowa"
            role="Freshman"
            program="BS Student at Concordia University Nebraska"
            projects={[
              ["Escape Room", "/software-development/escape-room"],
              ["Team Website", "/"],
            ]}
          />
          <RosterAbstract
            img={CADEN_KORELL}
            name="Caden Korell"
            from="Omaha, Nebraska"
            role="Freshman"
            program="Information Technology"
            projects={[
              ["Escape Room", "/software-development/escape-room"],
              ["Team Website", "/"],
            ]}
          />
          <RosterAbstract
            img={ALYSSA_BUTLER}
            name="Alyssa Butler"
            from="Houston, Texas"
            role="Senior"
            program="Business and Computer Science"
            projects={[["Team Website", "/"]]}
          />
          <RosterAbstract
            img={ANDREW_BRANDT}
            name="Andrew Brandt"
            from="Concordia, Missouri"
            role="Senior"
            program="Computer Science"
          />
          <RosterAbstract
            img={MEMBER_TYTUS_WOODBURN}
            name="Tytus Woodburn"
            from="York, Nebraska"
            role="Junior"
            program="Computer Science"
            projects={[
              ["Escape Room", "/software-development/escape-room"],
              ["Team Website", "/"],
            ]}
          />
          <RosterAbstract
            img={ISAAC_DAWSON}
            name="Isaac Dawson"
            from="Cedar Falls, Iowa"
            role="Freshman"
            program="Student at Concordia University, Nebraska"
            projects={[["Team Website", "/"]]}
          />
          <RosterAbstract
            img={COACH_IAN_KOLLIPARA}
            name="Ian Kollipara"
            from="Lincoln, Nebraska"
            role="Assistant Coach"
            program="PhD Student at University of Nebraska - Lincoln"
            projects={[
              ["Escape Room", "/software-development/escape-room"],
              ["Team Website", "/"],
            ]}
          />
          <RosterAbstract
            img={COACH_MARCUS_GUBANYI}
            name="Marcus Gubanyi"
            from="Seward, Nebraska"
            role="Head Coach"
            program="Assistant Professor at Concordia University, Nebraska"
            projects={[
              ["Escape Room", "/software-development/escape-room"],
              ["Team Website", "/"],
            ]}
          />
        </div>
      </div>
    </div>
  </div>
</Layout>
