---
import Navbar from "../components/Navbar.astro";
import Layout from "../layouts/Layout.astro";
import RosterPerson from "../components/RosterPerson.astro";

// Image Imports
import AaronCumming from "../assets/roster/aaron-cumming.jpg";
import AbrahamGomez from "../assets/roster/abraham-gomez.jpg";
import AleksaChambers from "../assets/roster/aleksa-chambers.jpg";
import AlecJohnston from "../assets/roster/alexander-johnston.jpg";
import AlyssaButler from "../assets/roster/alyssa-butler.jpg";
import AndrewBrandt from "../assets/roster/andrew-brandt.jpg";
import AndrewFynaardt from "../assets/roster/andrew-fynaardt.jpg";
import CadenKorell from "../assets/roster/caden-korell.jpg";
import CaseyPerlingerJett from "../assets/roster/casey-perlinger-jett.jpg";
import IanKollipara from "../assets/roster/co-ian-kollipara.jpg";
import MarcusGubanyi from "../assets/roster/co-marcus-gubanyi.jpg";
import DavidMarin from "../assets/roster/david-marin.jpg";
import EthanLHeureux from "../assets/roster/ethan-lheureux.jpg";
import IsaacDawson from "../assets/roster/isaac-dawson.jpg";
import JacobWoodmancy from "../assets/roster/jacob-woodmancy.png";
import SilasCurtis from "../assets/roster/silas-curtis.jpg";
import TytusWoodburn from "../assets/roster/tytus-woodburn.jpg";
---

<Layout title="Roster">
  <Navbar />
  <div class="bg-white py-24 sm:py-32" x-data="{ search: '' }">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto max-w-2xl lg:mx-0">
        <h1
          class="text-3xl font-bold -tracking-tight text-gray-900 sm:text-4xl"
        >
          Our Team
        </h1>
        <p class="mt-6 text-lg leading-8 text-gray-600">
          Meet our members, coaches, and alumni of the team!
        </p>
      </div>
      <ul
        role="list"
        class="mx-auto mt-20 grid max-w-2xl grid-cols-2 gap-x-8 gap-y-16 text-center sm:grid-cols-3 md:grid-cols-4 lg:mx-0 lg:max-w-none lg:grid-cols-5 xl:grid-cols-6"
      >
        <RosterPerson
          src={AaronCumming}
          name="Aaron Cumming"
          descriptor="Junior"
        />
        <RosterPerson
          src={AbrahamGomez}
          name="Abe Gomez"
          descriptor="Sophomore"
        />
        <RosterPerson name="Aidan Nachi" descriptor="Sophomore" />
        <RosterPerson
          src={AleksaChambers}
          name="Aleksa Chambers"
          descriptor="Sophomore"
        />
        <RosterPerson
          src={AlecJohnston}
          name="Alec Johnston"
          descriptor="Alumni 2024"
        />
        <RosterPerson
          src={AlyssaButler}
          name="Alyssa Butler"
          descriptor="Alumni 2023"
        />
        <RosterPerson
          src={AndrewBrandt}
          name="Andrew Brandt"
          descriptor="Alumni 2023"
        />
        <RosterPerson
          src={AndrewFynaardt}
          name="Andrew Fynaardt"
          descriptor="Junior"
        />
        <RosterPerson name="Andrew Pfeiffer" descriptor="Alumni 2024" />
        <RosterPerson
          src={CadenKorell}
          name="Caden Korell"
          descriptor="Sophomore"
        />
        <RosterPerson
          src={CaseyPerlingerJett}
          name="Casey Perlinger-Jett"
          descriptor="Freshman"
        />
        <RosterPerson
          src={DavidMarin}
          name="David Marin"
          descriptor="Sophomore"
        />
        <RosterPerson
          src={EthanLHeureux}
          name="Ethan L'Heureux"
          descriptor="Sophomore"
        />
        <RosterPerson name="Heidi Blank" descriptor="Freshman" />
        <RosterPerson
          src={IanKollipara}
          name="Ian Kollipara"
          descriptor="Director / Head Coach"
        />
        <RosterPerson
          src={IsaacDawson}
          name="Isaac Dawson"
          descriptor="Sophomore"
        />
        <RosterPerson
          src={JacobWoodmancy}
          name="Jacob Woodmancy"
          descriptor="Alumni 2023"
        />
        <RosterPerson name="Lawson Fairchild" descriptor="Freshman" />
        <RosterPerson
          src={MarcusGubanyi}
          name="Marcus Gubanyi"
          descriptor="Founder / Assistant Professor of Computer Science"
        />
        <RosterPerson name="Matthew Kruse" descriptor="Junior" />
        <RosterPerson name="Noah Niederklein" descriptor="Freshman" />
        <RosterPerson name="Paul Maestas" descriptor="Freshman" />
        <RosterPerson name="Reagan Zierke" descriptor="Freshman" />
        <RosterPerson
          src={SilasCurtis}
          name="Silas Curtis"
          descriptor="Sophomore"
        />
        <RosterPerson
          src={TytusWoodburn}
          name="Tytus Woodburn"
          descriptor="Senior"
        />
      </ul>
    </div>
  </div>
</Layout>
