---
import { Image } from "astro:assets";
import Navbar from "../components/Navbar.astro";
import PYTHON_LOGO from "../assets/python-logo.svg";
import ASTRO_LOGO from "../assets/astro-logo.svg";
import DJANGO_LOGO from "../assets/django-logo.png";
import FAST_API_LGO from "../assets/fastapi-logo.svg";
import Layout from "../layouts/Layout.astro";
import ESCAPE_ROOM from "../assets/escape-room-wide.jpg";
---

<Layout
  title="Concordia Programming Team - Software Development"
  description="Software Development Tools and Projects for the Concordia University, Nebraska Competitive Programming and Software Development Team"
  class="bg-gradient-to-bl from-blue-800 via-primary to-dark text-light w-screen h-screen overflow-x-hidden"
>
  <Navbar />
  <h1 class="text-5xl text-center lg:text-8xl mx-auto lg:ml-5 mt-5">
    Software Development at Concordia
  </h1>
  <section class="flex flex-col mt-10 font-sans">
    <p class="text-3xl tracking-wide p-3">
      At Concordia we believe in preparing students enter their vocation ready
      to contribute. We use industry-standard tools, processes, and languages.
      Gain experience on real code-bases, using tools like Github. Learn
      powerful web frameworks such as Django or FastAPI. Become famaliar with
      SQL and Database Administration. Become a Jack of all trades or a
      specialist, either way Concordia Programming Team is here to help <em
        >you</em
      >
       succeed.
    </p>
    <p class="text-3xl tracking-wide p-3">
      A great developer is not just a great programmer. At Concordia you can
      develop those soft skills that separate the cream from the crop. Learn how
      to work in teams and collaborate around software. Gain experience with
      stakeholders. Become not just a great programmer, but a complete engineer.
    </p>
    <!-- <section class="flex flex-row gap-5 mx-5"> -->
    <!--   <div class="flex flex-row gap-5"> -->
    <!--     <a -->
    <!--       href="https://python.org" -->
    <!--       class="bg-gradient-to-tl from-transparent to-light/10 shadow-md rounded ring ring-light/10 w-48 h-48 hover:shadow-2xl hover:shadow-light/30 transition-all" -->
    <!--     > -->
    <!--       <Image class="" src={PYTHON_LOGO} alt="Python" /> -->
    <!--     </a> -->
    <!--     <a -->
    <!--       href="https://astro.build" -->
    <!--       class="bg-gradient-to-tl from-transparent to-light/10 shadow-md rounded ring ring-light/10 w-48 h-48 hover:shadow-2xl hover:shadow-light/30 transition-all" -->
    <!--     > -->
    <!--       <Image class="" src={ASTRO_LOGO} alt="Astro" /> -->
    <!--     </a> -->
    <!--   </div> -->
    <!--   <div class="flex flex-row gap-5"> -->
    <!--     <a -->
    <!--       href="https://fastapi.tiangolo.com/" -->
    <!--       class="bg-gradient-to-tl from-transparent to-light/10 shadow-md rounded ring ring-light/10 w-48 h-48 hover:shadow-2xl hover:shadow-light/30 transition-all" -->
    <!--     > -->
    <!--       <Image class="p-5" src={FAST_API_LGO} alt="FastAPI" /> -->
    <!--     </a> -->
    <!--     <a -->
    <!--       href="https://djangoproject.com" -->
    <!--       class="bg-gradient-to-tl from-transparent to-light/10 shadow-md rounded ring ring-light/10 w-48 h-48 hover:shadow-2xl hover:shadow-light/30 transition-all" -->
    <!--     > -->
    <!--       <Image -->
    <!--         class="w-[168px] h-[168px] object-contain p-5" -->
    <!--         src={DJANGO_LOGO} -->
    <!--         alt="Django" -->
    <!--       /> -->
    <!--     </a> -->
    <!--   </div> -->
    <!-- </section> -->
  </section>
  <section>
    <hr class="mx-48" />
    <h2 class="text-3xl lg:text-6xl mx-auto lg:ml-5 my-5">Our Projects</h2>
    <ul
      class="grid lg:[grid-template-columns:0.33fr_0.33fr_0.33fr] w-full gap-5"
    >
      <li
        class="w-5/6 flex flex-row gap-5 mx-auto ring ring-light/10 bg-gradient-to-tl from-transparent to-light/10 shadow-md rounded"
      >
        <Image
          class="aspect-square w-1/2 object-cover rounded"
          src={ESCAPE_ROOM}
          alt="Escape Room"
        />
        <div class="">
          <a
            class="hover:underline hover:decoration-2 hover:decoration-accent text-lg transition-all"
            href="/software-development/escape-room"
          >
            <p class="text-3xl font-bold font-sans tracking-wide">
              Escape Room
            </p>
          </a>
          <hr class="mx-12" />
          <p class="text-lg">
            An escape room for students, community members, or faculty to
            attempt. Built with HTML, Python, and JS.
          </p>
        </div>
      </li>
    </ul>
  </section>
</Layout>
