---
/*
 * RosterAbstract.astro
 * Ian Kollipara
 * 2023-08-12
 *
 * Short Form Member Description used on Roster Page
 */

import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";

type Props = {
  img: ImageMetadata;
  name: string;
  role: string;
  from: string;
  program?: string;
  projects?: [string, string][];
};

function slugify(name: string) {
  return name.replaceAll(" ", "-").replaceAll("'", "").toLowerCase();
}

const { img, name, role, program = "", projects = [] } = Astro.props;
const from_ = Astro.props["from"];

const rosterHref = `/roster/${slugify(name)}`;
---

<div
  class="flex-col flex grid-cols-1 gap-4 px-8 py-6 max-[991px]:mx-auto max-[991px]:max-w-[288px] max-[991px]:text-left max-[767px]:items-center max-[767px]:p-8 max-[767px]:text-center max-[479px]:w-4/5"
>
  <Image
    transition:name={`${name}Img`}
    src={img}
    alt={name}
    class="inline-block h-52 w-full object-cover max-[767px]:max-w-full max-[479px]:max-w-[208px] mb-4"
  />
  <div class="w-full max-w-none text-center">
    <div transition:name={`${name}Name`} class="font-bold">{name}</div>
    <div
      transition:name={`${name}Role`}
      class="text-md font-bold text-[#636262]"
    >
      {role} - {from_}
    </div>
    <div class="text-md text-[#636262]">{program}</div>
    <a href={rosterHref} class="text-md text-[#636262] hover:underline"
      >Learn More..</a
    >
  </div>
</div>
