---
import Navbar from "../../components/Navbar.astro";
import Layout from "../../layouts/Layout.astro";
import CUNELogo from "../../assets/specials/tech-builders-challenge/cune-logo.jpg";
import SCCLogo from "../../assets/specials/tech-builders-challenge/scc-logo.jpg";
import SewardCountyLogo from "../../assets/specials/tech-builders-challenge/seward-county-logo.png";
import SewardPublicLogo from "../../assets/specials/tech-builders-challenge/seward-public-logo.png";
import Jtop1 from "../../assets/specials/tech-builders-challenge/jtop-1.jpg";
import { Image } from "astro:assets";
---

<Layout title="Nebraska Tech Builders Challenge">
  <Navbar />
  <div
    class="relative isolate overflow-hidden bg-gray-900 px-6 py-24 sm:py-32 lg:px-8 mt-16"
  >
    <div
      aria-hidden="true"
      class="hidden sm:absolute sm:-top-10 sm:right-1/2 sm:mr-10 sm:block sm:transform-gpu sm:blur-3xl"
      style={{ zIndex: -10 }}
    >
      <div
        class="aspect-[1097_/_845] w-[68.5625rem] bg-gradient-to-tr from-gray-900 to-cune-blue opacity-20"
        style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%);"
      >
      </div>
    </div>
    <div
      aria-hidden="true"
      style={{ zIndex: -10 }}
      class="absolute -top-52 left-1/2 -translate-x-1/2 transform-gpu blue-3xl sm:-top-[28rem] sm:ml-4 sm:translate-x-0 sm:transform-gpu"
    >
      <div
        class="aspect-[1097_/_845] w-[68.5625rem] bg-gradient-to-tr from-gray-900 to-cune-blue opacity-20"
        style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%);"
      >
      </div>
    </div>
    <div class="mx-auto max-w-2xl text-center">
      <h1 class="text-4xl font-bold tracking-tight text-white sm:text-6xl">
        Nebraska Tech Builders Challenge
      </h1>
      <p class="mt-6 text-lg leading-8 text-gray-300">
        Attend. Create. Innovate. Transform Seward in 24 Hours!<br />
        <span class="text-gray-100 font-bold">
          Cattle Conference Hall, 800 N Columbia Ave at 1:30 PM November 1st.
        </span>

        <a class="decoration-gray-100 underline" href="#schedule">
          Schedule available below!
        </a>
        <a
          class="mt-6 rounded-md bg-transparent ring ring-white px-3.5 py-2.5 text-sm font-bold shadow-sm hover:bg-cune-blue text-white block"
          href="https://docs.google.com/forms/d/e/1FAIpQLSdAg6XEZHVW2qHrEKp3xuez_AwTA1ak3dzOlu9GcyEStzlbUw/viewform"
        >
          Sign Up Now
        </a>
      </p>
    </div>
  </div>
  <div class="bg-white py-4 sm:py-8">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <h2 class="text-center text-lg font-semibold leading-8 text-gray-900">
        A partnership between
      </h2>
      <div
        class="mx-auto mt-10 grid max-w-lg grid-cols-4 items-center gap-x-8 gap-y-10 sm:max-w-xl sm:grid-cols-6 sm:gap-x-10 lg:mx-0 lg:max-w-none lg:grid-cols-4"
      >
        <Image
          loading="eager"
          src={CUNELogo}
          alt="Concordia University, Nebraska"
          width={158}
          height={48}
          class="col-span-2 max-h-12 w-full object-contain lg:col-span-1"
        />
        <Image
          loading="eager"
          src={SCCLogo}
          alt="Southeast Community College (SCC)"
          width={158}
          height={48}
          class="col-span-2 max-h-12 w-full object-contain lg:col-span-1"
        />
        <Image
          loading="eager"
          src={SewardCountyLogo}
          alt="Seward County Camber of Commerce"
          width={158}
          height={48}
          class="col-span-2 max-h-12 w-full object-contain lg:col-span-1"
        />
        <Image
          loading="eager"
          src={SewardPublicLogo}
          alt="Seward Public Schools"
          width={158}
          height={48}
          class="col-span-2 max-h-12 w-full object-contain lg:col-span-1"
        />
      </div>
    </div>
  </div>

  <article class="mx-auto max-w-3xl text-base leading-7 text-gray-700 py-8">
    <p class="text-base font-semibold leading-7 text-cune-blue">
      Introducing the
    </p>
    <h1
      class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl"
    >
      Nebraska Tech Builders Challenge
    </h1>
    <p class="mt-6 text-xl leading-8">
      Join us for an exhilarating two-day challenge, during which you'll bring
      your ideas to life and turn your vision into reality! <br />
      <a class="decoration-cune-blue underline" href="#schedule">
        See our schedule
      </a>
    </p>
    <figure class="mt-16">
      <Image
        class="object-cover bg-gray-50 rounded-xl aspect-video"
        src={Jtop1}
        alt="Janzow Campus Center, where the event will be held"
      />
    </figure>
    <section class="max-w-7xl mt-10">
      <h2 class="text-2xl font-bold tracking-tight text-gray-900">
        Who is it for?
      </h2>
      <p class="mt-6">
        This event is open to all high school and college students, whether
        you're a seasoned coder or simply curious about how technology can solve
        real-world problems.
      </p>
    </section>
    <section class="max-w-7xl mt-10">
      <h2 class="text-2xl font-bold tracking-tight text-gray-900">
        What experience do I need?
      </h2>
      <p class="mt-6">
        No prior experience is needed—just bring your creativity and enthusiasm!
        Complete a workshop on building software without programming, learn from
        experts, and take a break with fun activities like video games and board
        games. Collaborate with fellow students, tackle challenges, and compete
        for prizes.
      </p>
    </section>
    <section class="max-w-7xl mt-10">
      <h2 class="text-2xl font-bold tracking-tight text-gray-900">
        Frequently Asked Questions
      </h2>
      <p class="mt-6">
        <h3
          class="text-xl font-semibold tracking-tight text-gray-900 mt-6 mb-3"
        >
          Would it be okay for people to only participate on Saturday, November 1st?
        </h3>
        <p>
          Ideally, students would be in attendance on both days. We have not
          considered whether students could participate in the opening
          activities virtually.
        </p>
        <h3
          class="text-xl font-semibold tracking-tight text-gray-900 mt-6 mb-3"
        >
          What are the activities?
        </h3>
        <p>
          We have two main kinds of activities: fun & learning. <br />
           For fun activities we will have a variety of board games available.
          We will also host a Mariokart Team Battle Tournament along with a
          Super Smash Bros. Ultimate King of the Hill. In addition, Concordia
          University's Overwatch Match will be streamed!
          <br />
           Our learning activities include a variety of workshops (found on the
          schedule) focused around building a product and marketing that
          product. Some examples are:
          <br />
          <ul class="list-inside list-disc space-y-3">
            <li class="mt-3">
              <em class="font-semibold">Softr Workshop</em>: Learn how to build
              an engaging product with zero coding knowledge!
            </li>
            <li>
              <em class="font-semibold">Ideation & Team Creation Workshop</em>:
              Learn how to brainstorm effectively, as well as find partners for
              your idea
            </li>
            <li>
              <em class="font-semibold">Storytelling & Pitching Workshop</em>:
              Learn how best to market your product to investors and potential
              customers.
            </li>
            <li>
              <em class="font-semibold">Design Mockups Workshop</em>: Learn how
              to design an effective product, from simple logo mockups to a full
              design system.
            </li>
          </ul>
        </p>
        <h3
          class="text-xl font-semibold tracking-tight text-gray-900 mt-6 mb-3"
        >
          Do we have to follow the schedule?
        </h3>
        <p>
          The schedule below will be loosely followed. The major story beats -
          the opening, lunch, closing, etc - will be followed closely, but
          during the workshop and dinner time students are free and encouraged
          to continue working on their products.
        </p>
        <h3
          class="text-xl font-semibold tracking-tight text-gray-900 mt-6 mb-3"
        >
          When is the problem revealed?
        </h3>
        <p>The problem reveal will happen during the first day.</p>
      </p>
    </section>
    <section class="max-w-7xl mt-10">
      <h2 class="text-2xl font-bold tracking-tight text-gray-900">
        When is it?
      </h2>
      <p class="mt-6">
        <time datetime="">November 1st 1:30PM - November 2nd 1:30 PM</time>
        <br />
         It will be hosted at Concordia University in Seward, Nebraska.
        <br />
        <address>800 N Columbia Avenue, Seward, NE, 68434</address>
      </p>
    </section>
    <section class="max-w-7xl mt-10">
      <h2 id="schedule" class="text-2xl font-bold tracking-tight text-gray-900">
        Event Schedule
      </h2>
      <h3
        id="schedule--day-1"
        class="text-xl font-semibold tracking-tight text-gray-900"
      >
        Day 1: Friday, November 1st
      </h3>
      <p class="mt-6">
        <div class="relative overflow-x-auto">
          <table class="w-full text-sm text-left rtl:text-right text-gray-500">
            <thead class="text-xs text-gray-900 uppercase">
              <tr>
                <th scope="col" class="px-6 py-3"> Time</th>
                <th scope="col" class="px-6 py-3"> Activity</th>
              </tr>
            </thead>
            <tbody>
              <tr class="bg-white">
                <th
                  scope="row"
                  class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap"
                >
                  1:30PM - 1:55PM
                </th>
                <td class="px-6 py-4"> Check-In: Participants Arrive</td>
              </tr>
              <tr class="bg-white">
                <th
                  scope="row"
                  class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap"
                >
                  1:55PM - 2:00PM
                </th>
                <td class="px-6 py-4"> Welcoming Remarks * Intro to Speaker</td>
              </tr>
              <tr class="bg-white">
                <th
                  scope="row"
                  class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap"
                >
                  2:00PM - 2:30PM
                </th>
                <td class="px-6 py-4"> Keynote Speaker</td>
              </tr>
              <tr class="bg-white">
                <th
                  scope="row"
                  class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap"
                >
                  2:30PM - 3:00PM
                </th>
                <td class="px-6 py-4">
                  Kickoff Event - Overview, Rules, & Judging Criteria</td
                >
              </tr>
              <tr class="bg-white">
                <th
                  scope="row"
                  class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap"
                >
                  3:00PM - 4:00PM
                </th>
                <td class="px-6 py-4">
                  No-Code Workshop: <em class="italic"
                    >Building a Job Board with Softr</em
                  ></td
                >
              </tr>
              <tr class="bg-white">
                <th
                  scope="row"
                  class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap"
                >
                  4:00PM - 6:00PM
                </th>
                <td class="px-6 py-4">
                  Hacking Session: Teams start working!<br /> Optional workshop:


                  <em class="italic">Ideation & Team Creation</em></td
                >
              </tr>
              <tr class="bg-white">
                <th
                  scope="row"
                  class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap"
                >
                  6:00PM - 7:00PM
                </th>
                <td class="px-6 py-4"> Pizza Dinner</td>
              </tr>
              <tr class="bg-white">
                <th
                  scope="row"
                  class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap"
                >
                  7:00PM - 10:00PM
                </th>
                <td class="px-6 py-4">
                  Games & Video Games: Super Smash Bros. Ultimate & MarioKart 8
                  Deluxe!</td
                >
              </tr>
              <tr class="bg-white">
                <th
                  scope="row"
                  class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap"
                >
                  10:00PM
                </th>
                <td class="px-6 py-4"> Spaces closes for the night!</td>
              </tr>
            </tbody>
          </table>
        </div>
      </p>
      <h3
        id="schedule--day-2"
        class="text-xl font-semibold tracking-tight text-gray-900 mt-6"
      >
        Day 2: Saturday, November 2nd
      </h3>
      <p class="mt-3">
        <div class="relative overflow-x-auto">
          <table class="w-full text-sm text-left rtl:text-right text-gray-500">
            <thead class="text-xs text-gray-900 uppercase">
              <tr>
                <th scope="col" class="px-6 py-3"> Time</th>
                <th scope="col" class="px-6 py-3"> Activity</th>
              </tr>
            </thead>
            <tbody>
              <tr class="bg-white">
                <th
                  scope="row"
                  class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap"
                >
                  8:00AM - 8:15PM
                </th>
                <td class="px-6 py-4">
                  Participants Arrive: Breakfast available!</td
                >
              </tr>
              <tr class="bg-white">
                <th
                  scope="row"
                  class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap"
                >
                  8:15PM - 9:00PM
                </th>
                <td class="px-6 py-4">
                  Optional Workshop: <em class="italic"
                    >Storytelling & Pitching</em
                  ></td
                >
              </tr>
              <tr class="bg-white">
                <th
                  scope="row"
                  class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap"
                >
                  9:00AM - 10:00AM
                </th>
                <td class="px-6 py-4">
                  Optional workshop: <em class="italic">Design Mockups</em></td
                >
              </tr>
              <tr class="bg-white">
                <th
                  scope="row"
                  class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap"
                >
                  10:00AM - 10:45PM
                </th>
                <td class="px-6 py-4"> Hacking Time</td>
              </tr>
              <tr class="bg-white">
                <th
                  scope="row"
                  class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap"
                >
                  12:00PM - 1:00PM
                </th>
                <td class="px-6 py-4"> Lunch Banquet & Judging</td>
              </tr>
              <tr class="bg-white">
                <th
                  scope="row"
                  class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap"
                >
                  1:00PM - 1:30PM
                </th>
                <td class="px-6 py-4">
                  Results Announced <br /> Closing Ceremonies</td
                >
              </tr>
              <tr class="bg-white">
                <th
                  scope="row"
                  class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap"
                >
                  1:30PM - 2:00PM
                </th>
                <td class="px-6 py-4"> Event networking / wrap up</td>
              </tr>
              <tr class="bg-white">
                <th
                  scope="row"
                  class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap"
                >
                  2:00PM
                </th>
                <td class="px-6 py-4"> Space closes for the day</td>
              </tr>
            </tbody>
          </table>
        </div>
      </p>
    </section>
    <hr class="max-w-7xl mx-auto mt-16" />
    <div class="lg:px-8 sm:py-32 sm:px-6 py-24 px-6">
      <div class="mx-auto max-w-2xl text-center" id="cta">
        <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
          Sign up Today!
        </h2>
        <p class="mx-auto mt-6 text-lg leading-8 text-gray-600">
          If you are intested in joining, please sign up using the form below!
        </p>
        <div class="mt-10 flex items-center justify-center gap-x-6">
          <a
            class="rounded-md bg-cune-blue px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm"
            href="https://docs.google.com/forms/d/e/1FAIpQLSdAg6XEZHVW2qHrEKp3xuez_AwTA1ak3dzOlu9GcyEStzlbUw/viewform"
          >
            Reach Out
          </a>
        </div>
      </div>
    </div>
  </article>
</Layout>
