---
import Navbar from "../components/Navbar.astro";
import Layout from "./Layout.astro";

type Props = {
  name: string;
  role: "coach" | "alumni" | string;
};

const { name, role } = Astro.props;

const memberPhrase = role === "alumni" ? `an ${role}` : `a ${role}`;
const description = `The roster page for ${name}, ${memberPhrase} of Concordia University Nebraska Competitive Programming and Software Development Team.`;
---

<Layout title={`Concordia Programming Team - ${name}`} {description}>
  <Navbar />
  <main class="w-5/6 mx-auto">
    <slot />
  </main>
</Layout>
